<%@ header %>

        <div id="mobileMenu">
            <div class="topnavbar">
                <nav class="l-centered">
                    <span class="topnavbar-left">
                        <span>
                            <a href="/">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                <span>Купоны</span>
                            </a>
                        </span>
                        <span>
                            <a href="/shops">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span>Магазины</span>
                            </a>
                        </span>
                    </span>
                </nav>
            </div>
        </div>
        <!-- end of #mobileMenu -->

        <div id="bodywrap">

            <div class="l-centered">
                <div class="l-pt-md l-ml-md-at-xs two-col-headline">
                    <h1 class="headline headline-hasIconStar no-margin options-title">Я не хочу получать уведомления о скидка и акциях, я не люблю экономить</h1>
                </div>
                <div class="l-two-col l-one-col">
                    <div class="l-main ">

                        <div class="switch-cont">
                            <div class="switch-elem" id="swicth-elem"><i class="switch-circle"></i></div>
                            <p class="switch-text" id="switch-text">Отключить</p>
                        </div>

                    </div> <!-- end of l-main -->
                </div> <!-- end of l-two-col -->
            </div> <!-- end of l-centered -->
        </div>

        <div class="push"></div>
    </div>

    <script>
        $(document).ready(function(){
            $('#swicth-elem').click(function(){
                if($(this).hasClass('off')){
                    $(this).removeClass('off');
                    $('#switch-text').html('Отключить');

                    var date = new Date(new Date().getTime() + 3660 * 1000 * 24 * 365);
                    document.cookie = "disabled=true; path=/; expires=" + date.toUTCString();
                }else{
                    $(this).addClass('off');
                    $('#switch-text').html('Включить');

                    new Image().src="http://prommy.ru/disable";
                    new Image().src="https://prommy.ru/disable";
                }
            });
        });
    </script>

<%@ footer %>
