<%@ header %>

        <div id="mobileMenu">
            <div class="topnavbar">
                <nav class="l-centered">
                    <span class="topnavbar-left">
                        <span>
                            <a href="/">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                <span>Купоны</span>
                            </a>
                        </span>
                        <span>
                            <a href="/shops" class="active">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span>Магазины</span>
                            </a>
                        </span>
                    </span>
                </nav>
            </div>
        </div>
        <!-- end of #mobileMenu -->

        <div id="bodywrap">
            <!--for inline coupon modals-->
            <div class="js-overlay-close overlay-bg hidden"></div>

            <% if(data.banners.length){ %>
            <div class="l-centered slider" id="slider-container">
                <div class="ws_images">
                    <% for(var i in data.banners) { %>
                    <div class="slider-item" style="background-image: url('img/<%= data.banners[i].img %>');">
                        <div class="hero-slider-seasonal-info">
                            <h3 class="hero-slider-seasonal-headline"><%= data.banners[i].desc %></h3>
                            <a href="<%= data.banners[i].link %>" class="btnBase-hero" target="_blank">
                                <span class="btnBase">Перейти</span>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div id="home-hero-slider-indicators" class="hero-slider-thumbs hero-slider-<%= data.banners.length%>-thumbs">
                    <% for(var i in data.banners) { %>
                    <div class="hero-slider-thumb">
                        <% if(data.banners[i]['shop-id']){ %>
                        <a class="merchant-logo" href="/shop=<%= data.banners[i]['shop-id']%>" target="_blank" data-num="<%=i%>">
                            <img class="img-responsive" src="<%= data.banners[i]['shop-logo'] %>" width="100" height="27">
                        </a>
                        <% }else{ %>
                        <a class="merchant-logo" href="#" target="_blank" data-num="<%=i%>">
                            <div class="img-responsive" style="height:27px;width:100px;background:#fff"></div>
                        </a>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } %>

            <div class="l-centered">
                <div class="l-two-col">
                    <div class="l-main">
                        <ul class="shops">
                            <% for(var i in data.shops) { %>
                                <li>
                                    <a href="/shop=<%= data.shops[i].id%>" class="shop-item" data-shop="<%= data.shops[i].id%>">
                                        <img src="<%= data.shops[i].logo %>" alt="<%= data.shops[i].name %>">
                                    </a>
                                </li>
                            <% }; %>
                        </ul>
                    </div> <!-- end of l-main -->

                    <div class="l-sidebar">
                        <div class="box-sidebar">
                            <h2 class="headline box-bottomMargin">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                <span>Категории</span>
                            </h2>
                            <ul class="categories">
                                <% for(var i in data.categories) { %>
                                    <li <% if(data.categories[i].id == data.category){ %>class="active"<% } %>>
                                        <a href="/shops&category=<%= data.categories[i].id %>"><%= data.categories[i].name %></a>
                                    </li>
                                <% }; %>
                            </ul>
                        </div>
                        <% if(data.topShops.length){ %>
                        <div class="box-sidebar">
                            <h2 class="headline box-bottomMargin">Популярные магазины</h2>
                            <ul class="imagelist-round">
                                <% for(var i in data.topShops) { %>
                                <li>
                                    <a href="/shop=<%= data.topShops[i].id%>" class="shop-item" data-shop="<%= data.topShops[i].id%>">
                                        <img src="<%= data.topShops[i].logo %>" width="120" height="40" alt="<%= data.topShops[i].name %>">
                                    </a>
                                </li>
                                <% }; %>
                            </ul>
                        </div>
                        <% }; %>
                    </div>

                </div> <!-- end of l-two-col -->
            </div> <!-- end of l-centered -->
        </div>

        <div class="push"></div>
    </div>

<%@ footer %>
