* {
	box-sizing: border-box;
}
.prommy-strip {
	width: 100%;
	min-height: 62px;
	box-shadow: 0 14px 35px rgba(0,0,0,0.28);
	position: absolute;
	top: 0;
	left: 0;
	border-spacing: 0;
	font-family: aktiv-grotesk-std,helvetica,arial,sans-serif;
	z-index: 10000000000;
	margin: 0 !important;
	border: 0 !important;
	text-align: left;
}
.prommy-strip a {font-family: aktiv-grotesk-std,helvetica,arial,sans-serif !important; font-weight: normal !important;}
.prommy-strip.color1 {background: #ff7200;}
.prommy-strip.color2 {background: #f84040;}
.prommy-strip.color3 {background: #7baf04;}
.prommy-strip td {
	vertical-align: middle;
	padding: 0 10px;
}

.vertical-center {
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.strip-logo {
	display: block;
	height: 33px;
	width: 189px;
	background: #fff;
	position: relative;
	margin: 0 auto;
}
.logo-cell {
	background: #fff;
	width: 209px;
}

.strip-desc {
	text-align: center;
	font-size: 22px;
	color: #fff !important;
	line-height: 1em;
	display: block;
	padding: 5px 0;
	text-decoration: none !important;
}

.coupon-cell {width: 470px;}
.strip-coupon {
	float: left;
	margin-right: 20px;
	display: block;
	width: 257px;
	height: 48px;
	background: url('../img/strip-coupon.png') no-repeat 50% 50%;
	font-size: 20px;
	text-transform: uppercase;
	color: #000 !important;
	line-height: 48px;
	padding-left: 40px;
	text-decoration: none !important;
}
.strip-actions {
	float: left;
	position: relative;
	font-size: 20px;
	color: #fff;
	width: 152px;
	margin-top: 13px;
}
.strip-actions a {
	color: #fff !important;
	text-decoration: none !important;
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
	font-size: 20px;
}
.strip-actions a:hover {
	border-bottom: none;
}

.btn-cell {width: 96px;}
.strip-btns {
	float: right;
	position: relative;
	width: 76px;
}
.strip-options {
	display: block;
	float: left;
	margin-right: 10px;
	width: 33px;
	height: 33px;
	background: url('../img/strip-options.png') no-repeat 50% 50%;
	cursor: pointer;
}
.strip-close {
	display: block;
	float: left;
	width: 33px;
	height: 33px;
	background: url('../img/strip-close.png') no-repeat 50% 50%;
	cursor: pointer;
}

@media screen and (max-width: 940px) {
	.coupon-cell {
		width: 257px;
		padding: 10px !important;
	}
	.strip-coupon {
		margin-right: 0;
		float: none;
	}
	.strip-actions {
		width: 100%;
		text-align: center;
		float: none;
		margin-top: 5px;
	}
}

@media screen and (max-width: 770px) {
	.strip-logo img {
		display: block;
		width: 140px;
	}
	.strip-logo {
		width: 140px;
	}
	.logo-cell {
		width: 160px;
	}
	.coupon-cell {
		width: 150px;
	}
	.strip-coupon {
		background-size: cover;
		width: 150px;
		height: 28px;
		padding-left: 26px;
		font-size: 11px;
		line-height: 29px;
	}
	.strip-actions,
	.strip-actions a{
		font-size: 15px;
	}
	.strip-options,
	.strip-close {
		background-size: cover;
		width: 20px;
		height: 20px;
	}
	.strip-btns {width: 50px;}
	.btn-cell {width: 70px;}
	.strip-desc {font-size: 17px;}
	.prommy-strip td {
		padding: 0 5px;
	}
	.coupon-cell {
		padding: 5px !important;
	}
	.strip-actions a {
		padding-bottom: 2px;
	}
}